.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

#button-author {
  border: none;
  outline: none;
  width: 14rem;
  color: whitesmoke;
  background: none;
  font-weight: bold;
  text-align: center;
}

.button-author {
  color: whitesmoke;
  font-weight: bold;
  transition: all 250ms;
  text-align: center;
}

.button-author.winner {
  color: green;
  text-shadow: 0 0 15px rgba(0, 255, 0, .5);
}

.button-author.loser {
  color: red;
  text-shadow: 0 0 15px rgba(255, 0, 0, .4);
}

.buzzer-button {
  width: 10rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.button-top {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: rgb(200, 0, 0);
  border-radius: 50%;
  transform: rotateX(20deg);
  box-shadow: 0 .8rem 0 rgb(130, 0, 0);
  transition: 100ms all;
  top: .2rem;
}

.button-top.active {
  box-shadow: 0 0 0 darkred;
  top: .9rem;
}

.button-bottom {
  width: 7rem;
  height: 7rem;
  background: rgb(150,150,150);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%; 
  box-shadow: 0 .8rem 0 rgb(100,100,100);
}